<div>
    <div>
        <h1 class="pt-2 pl-2">INVENTARIO DE PRODUCTOS</h1>
        <hr>
    </div>
    <div>
        <div class="p-3 text-center">
            <button class="btn btn-info col-4 col-sm-4 ml-3 mr-3 botones" style="width: 20%;" type="button">Agregar producto</button>
            <button class="btn btn-info col-4 col-sm-4 ml-3 mr-3 botones" style="width: 20%;" type="button">Modificar producto</button>
            <button class="btn btn-info col-4 col-sm-4 ml-3 mr-3 botones" style="width: 20%;" type="button">Eliminar producto</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>
                       <div class="imagen-producto ml-auto mr-auto" >
                           <img src="assets/img/productos/injerto.jpg" alt="injerto">
                       </div> 
                    </td>
                    <td>Injerto</td>
                    <td><button class="btn btn-link">Ver más</button></td>
                    <td>Maceteras de vidrio</td>
                    <td class="text-center">1</td>
                    <td>L 250</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>
                        <div class="imagen-producto ml-auto mr-auto" >
                            <img src="assets/img/productos/injerto.jpg" alt="injerto">
                        </div> 
                     </td>
                     <td>Injerto</td>
                     <td><button class="btn btn-link">Ver más</button></td>
                     <td>Maceteras de vidrio</td>
                     <td>1</td>
                     <td>L 250</td>
                  </tr>
                </tbody>
              </table>
          </div>
    </div>
</div>