.imagen-producto{
    width: 60px;
    height: 60px;
    background: #CCC;
    overflow: hidden;
    vertical-align: middle;
}


.imagen-producto img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

@supports(object-fit: cover){
    .imagen-producto img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.btn-link{
    color: green;
}


.botones {
    font-size: 1.30vw;
}

/* h1{
    font-size: 100%;
} */

.btn:focus {
    outline: none;
    box-shadow: none;
}

@media screen and (min-width: 1300px) {
    .botones {
       font-size: 100%;
    }
  }

.dropdown-toggle::after {
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

select {
    border: none !important;
    height: 100%;
    width: 100%;
    }