<!-- Modal  -->
<div class="modal fade" [class.show]="showModalIngresos" id="filtroReporteIngesos" tabindex="-1" aria-labelledby="addFilterModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filtrar información de Ingresos</h5>

                <button [hidden]="false" type="button" #closeAddExpenseModalIngresos class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formularioIngresos">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 mb-1">
                                <label for="validationServer02">Año</label>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" formControlName="Anio" class="form-control" aria-label="nombre">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-1">
                                <label for="validationServer05">Mes</label>
                                <select class="custom-select custom-select-sm" formControlName="Mes">
                                    <option disabled active value="">Seleccionar...</option>  
                                    <option  value="01"> Enero</option>
                                    <option  value="02"> Febrero</option>
                                    <option  value="03"> Marzo</option>
                                    <option  value="04"> Abril</option>
                                    <option  value="05"> Mayo</option>
                                    <option  value="06"> Junio</option>
                                    <option  value="07"> Julio</option>
                                    <option  value="08"> Agosto</option>
                                    <option  value="09"> Septiembre</option>
                                    <option  value="10"> Octubre</option>
                                    <option  value="11"> Noviembre</option>
                                    <option  value="12"> Diciembre</option>

                                </select>
                            </div>

                        </div>

                        <div class="row">


                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="regresar()">Regresar</button>
                <button type="button" class="btn btn-agregar" (click)="filtrar()">Generar</button>
            </div>
        </div>
    </div>
</div>