#content-boton {
    margin-top: 2%;
}

#wrapper {
    overflow-x: hidden;
    background-color: transparent;
}

#nav {
    background-color: transparent;
}


/*navbar*/

.icono {
    padding-left: 20px;
    font-size: 150%;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-image: url("../../../assets/img/fondo-filtro-producto.jpg");
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.container-fluid {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.image-promo {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25%;
    padding-top: 5%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 350px;
}

h1 {
    color: transparent;
    background: url(/assets/img/1C.png) repeat;
    -webkit-background-clip: text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: bold;
    text-align: left;
    letter-spacing: -2px;
    line-height: 90px;
}

.card-header {
    background-color: white !important;
}

.imagenes {
    width: 100%;
    height: 250px;
    object-fit: scale-down;
}

#circulo {
    width: 50%;
    height: 50px;
    background-color: rgba(75, 219, 207);
    border-radius: 80px;
    margin: 0px auto;
    margin-bottom: 3%;
}

#divPadre {
    text-align: center;
}

h3 {
    color: rgb(179, 247, 230);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;
    padding-top: 2%;
}

.icono {
    color: black;
}


/*Select*/

option {
    color: white;
    font-size: 1vw;
}

option:hover {
    background-color: rgba(107, 218, 85, 0.8);
}

.option .color {
    background-color: rgba(123, 211, 149, 0.8);
}

.option .color:hover {
    background-color: rgba(107, 218, 85, 0.8);
}

.form-control {
    color: black;
}

.form-control option {
    border: black;
}

SELECT {
    color: white;
    background-color: rgba(75, 192, 192, 0.8);
    border-radius: 5px;
}

.opciones {
    margin-top: 5%;
    margin-bottom: 5%;
}

.texto-opcion {
    font-weight: bold;
}

.icono-filtro {
    background-color: rgba(75, 192, 192, 0.8);
    color: white;
    font-size: 1.3em;
}


/*Estilo Carda*/

.estilo-card {
    border: 8px solid transparent;
    border-image: linear-gradient(to left, #9cd6d7 0%, #b7aecd 100%) 1;
}

.card-encabezado {
    border-bottom: 1px solid green;
}

.tuclase {
    font-weight: bold;
    background: #097957;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 105, 74, 0.3);
    margin-bottom: 3%;
}

.boton-compra {
    width: 100%;
    border: 1.5px solid rgb(0, 128, 107);
    color: rgb(0, 128, 107);
    background-color: rgb(95, 211, 176, 0.2);
}

.boton-compra:hover {
    color: rgb(224, 241, 239);
    background-color: rgb(41, 151, 118);
}


/* Estilos prmoción del producto */

.promo-percentage {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    padding: 12px 7px 10px 7px;
    transform-origin: center;
    transform: translate(50%, -50%);
    font-weight: 800;
    z-index: 100;
    text-align: center;
    box-shadow: 1px 1px 5px 4px rgba(0, 105, 74, 0.3);
}

.promo-percentage h4 {
    margin-bottom: .25rem !important;
}