<app-encabezado></app-encabezado>

<h1 id="cactus">Categorías</h1>

<div class="container">

    <div class="row">
        <div class="card">
            <div class="card-header">
                <img src="/assets/img/Cat1.jpg" class="card-img-top rounded-circle" alt="...">
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                </p>
                <a href="#" class="btn">Ver Producto</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="/assets/img/Cat1.jpg" class="card-img-top rounded-circle" alt="...">
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                </p>
                <a href="#" class="btn">Ver Producto</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="/assets/img/Cat1.jpg" class="card-img-top rounded-circle" alt="...">
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                </p>
                <a href="#" class="btn">Ver Producto</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="/assets/img/Cat1.jpg" class="card-img-top rounded-circle" alt="...">
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                </p>
                <a href="#" class="btn">Ver Producto</a>
            </div>
        </div>
    </div>
</div>