h1 {
    color: transparent;
    background: url(/assets/img/1C.png) repeat;
    -webkit-background-clip: text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: bold;
    text-align: left;
    letter-spacing: -2px;
    line-height: 90px;
}

#content-boton {
    margin-top: 2%;
}

#wrapper {
    overflow-x: hidden;
    background-color: transparent;
}

#nav {
    background-color: transparent;
}


/*navbar*/

.icono {
    padding-left: 20px;
    font-size: 150%;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.container-fluid {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.card-header {
    background-color: rgba(237, 200, 207, 0.3);
}

.example1 img {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
}

.example1 img.tres {
    object-fit: cover;
}

#circulo {
    width: 50%;
    height: 50px;
    background-color: rgba(75, 219, 207, 0.3);
    border-radius: 80px;
    margin: 0px auto;
    margin-bottom: 3%;
}

#divPadre {
    text-align: center;
}

h3 {
    color: rgb(103, 241, 207);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;
    padding-top: 2%;
}

.icono {
    font-size: 2em;
    text-align: center;
}