#wrapper {
    overflow-x: hidden;
}


/*navbar*/

#campana {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    size: 70px;
    color: white;
}

#titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: white;
}

.admin {
    background: linear-gradient(to left, #50a1a5, #88df8f);
}

#logo {
    margin-left: 10px;
}

.boton-menu {
    background-color: transparent;
    border-color: teal;
}

.icono {
    padding-left: 20px;
    font-size: 150%;
}

.span {
    padding-left: 15px;
    font-size: 120%;
}

.imagen {
    font-size: 600%;
    padding-left: 75px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #3e7b7e;
}

.texto2 {
    font-size: 140%;
    padding-left: 35px;
    color: #3e7b7e;
    width: bold;
}

.cerrar-sesion {
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #68c1c5;
    outline: none;
    transition: 1s ease-in-out;
    color: white;
    margin-left: 15px;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #3e7b7e;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-image: url("../../../../assets/img/fondo2.jpg");
}

#sidebar-wrapper:hover {
    box-shadow: 3px -13px 17px 3px #888;
    border: none;
}

.list-group-item-action:hover {
    background: linear-gradient(to top, #5cbb93, #5cbb93);
    color: white;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.list-group-item-action {
    background: rgba(75, 192, 192, 0.1);
    color: black !important;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.container-fluid {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}