<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">

            <div class="content-admin">


                <i class="fas fa-user imagen"></i>

                <strong><p class="texto2">Administrador</p></strong>

            </div>

            <div class="list-group list-group-flush">

                <a [routerLink]="['./inicioadmin']" class="list-group-item list-group-item-action ">
                    <i class="fas fa-home icono"></i>
                    <span class="span">Inicio</span>
                </a>
                <a [routerLink]="['./inventario']" class="list-group-item list-group-item-action ">
                    <i class="fas fa-boxes icono"></i>

                    <span class="span">Inventario</span>
                </a>
                <a [routerLink]="['./usuarios']" class="list-group-item list-group-item-action  ">
                    <i class="fas fa-users icono"></i>

                    <span class="span">Usuarios</span>
                </a>
                <a [routerLink]="['./promociones']" class="list-group-item list-group-item-action">
                    <i class="fas fa-percent icono"></i>

                    <span class="span">Promociones</span>
                </a>
                <a [routerLink]="['./pedidos']" class="list-group-item list-group-item-action">
                    <i class="fas fa-shipping-fast icono"></i>

                    <span class="span">Pedidos</span>
                </a>
                <a [routerLink]="['./reportes']" class="list-group-item list-group-item-action ">
                    <i class="fas fa-file-invoice icono"></i>

                    <span class="span">Reportes</span>
                </a>

            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom admin">
                <button class="btn btn-primary boton-menu" id="menu-toggle"><i class="fas fa-th-large"></i> </button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

          </button>



                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="navbar-brand" [routerLink]="['./inicioadmin']">
                        <img src="/assets/img/logo_vector.png" id="logo" width="40" height="40" alt="" loading="lazy">
                    </a>
                    <a class="navbar-brand" [routerLink]="['./inicioadmin']" id="titulo">Cactus HN</a>
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">


                        <li class="nav-item" style="width: 200px; ">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                        </li>

                        <li class="nav-item">
                            <i class="fas fa-bell" id="campana"></i>
                        </li>

                        <li>
                            <button type="button" id="cerrar-sesion" class="btn btn-outline-success cerrar-sesion" (click)="authService.logoutUser()">Cerrar Sesión</button>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">

                <router-outlet></router-outlet>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>