<div #modalClase1 [class.show]="showModalAgregarProducto" class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar producto</h5>
          <button type="button" #closeAddExpenseModal class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formularioProducto">
            <div class="row">
              <div class="col-6">
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationServer01">Nombre</label>
                    <input type="text" formControlName="nombre" [class.is-invalid]="validation('nombre')" class="form-control form-control-sm" id="validationServer01" required>
                    <div class="invalid-feedback">
                      Campo obligatorio
                    </div>
                  </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationServer02">Cantidad</label>
                      <input type="number" formControlName="cantidad" [class.is-invalid]="validation('cantidad')" class="form-control form-control-sm" id="validationServer02" required>
                      <div class="invalid-feedback">
                        Campo obligatorio
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationServer03">Precio</label>
                      <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">L</span>
                        </div>
                        <input type="number" formControlName="precio" [class.is-invalid]="validation('precio')" class="form-control" aria-label="lempira">
                        <div class="invalid-feedback">
                          Campo obligatorio
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationServer04">Tipo de base</label>
                        <select class="custom-select custom-select-sm" formControlName="base" [class.is-invalid]="validation('base')" >
                            <option disabled active value="">Seleccionar...</option>  
                            <option *ngFor="let base of tipoBases" value="{{base.idtipobase}}">{{base.descripcion}}</option>
                          </select>
                          <div class="invalid-feedback">
                           Debe seleccionar un tipo de base
                          </div>
                    </div>
                      <div class="col-md-6 mb-3">
                        <label for="validationServer05">Categoría</label>
                        <select class="custom-select custom-select-sm" formControlName="categoria" [class.is-invalid]="validation('categoria')">
                          <option disabled active value="">Seleccionar...</option>  
                          <option *ngFor="let categoria of categorias" value="{{categoria.idcategoria}}">{{categoria.descripcion}}</option>
                        </select>
                        <div class="invalid-feedback">
                          Debe seleccionar una categoría
                        </div>
                      </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationServer07">Especies</label>
                        <button type="button" id="addNuevaEspecie" class="btn btn-info mb-1 ml-1 p-0 add"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        <select multiple  class="custom-select custom-select-sm" data-live-search="true" size="3" formControlName="especies" [class.is-invalid]="validation('especies')" >
                            <option *ngFor="let especie of especies" value="{{especie.idespecie}}">{{especie.descripcion_especie}}</option>
                        </select>
                        <div class="invalid-feedback">
                          Debe seleccionar al menos una especie
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <form [formGroup]="formularioEspecie">
                      <button type="button"  class="btn btn-sm btn-info mb-1" style="border-radius: 50px" (click)="agregarEspecie()"><i class="fa fa-check-circle" aria-hidden="true"></i> Agregar</button>
                      <input type="text" class="form-control form-control-sm mb-1" formControlName="especie" [class.is-invalid]="validationEspecie('especie')" placeholder="Nombre de la nueva especie" id="validationServer08"  required>
                      <select class="custom-select custom-select-sm" formControlName="genero" [class.is-invalid]="validationEspecie('genero')">
                        <option  disabled active value="" >Seleccione el género</option>  
                        <option *ngFor="let genero of generos" value="{{genero.idgenero}}">{{genero.descripcion_genero}}</option>
                      </select>
                      <div class="invalid-feedback">
                        Debe seleccionar un género
                      </div>
                    </form>
                    </div>
                </div>
               
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationServer09">Tiempo de sol</label>
                      <input type="text" class="form-control form-control-sm" formControlName="tiempoSol" id="validationServer09"  >
                      
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationServer10">Frecuencia de riego</label>
                      <input type="text" class="form-control form-control-sm" formControlName="riego" id="validationServer10"  >
                      
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationServer11">Tamaño</label>
                        <input type="text" class="form-control form-control-sm" formControlName="tamanio" [class.is-invalid]="validation('tamanio')" id="validationServer11"  required>
                        <div class="invalid-feedback">
                          Campo obligatorio
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control form-control-sm" formControlName="descripcion" id="descripcion" rows="3"></textarea>
                    </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-row">
                  <h5 style="color: #ECC5CE;">Fotografías</h5>
                </div>
                <div class="form-row">
                  <div class="ui cards centered ">
                    <label class="btn card ml-auto mr-auto w-50" for="validationServer12">
                      <div class="image">
                          <img class="w-100 img-fluid" [src]="portada" alt="portada">
                      </div>
                    </label>
                  </div>
                  <input
                  type="file"
                  accept=".jpg,.jpeg,.png,.gif"
                  class="custom-file-input"
                  id="validationServer12"
                  name="validationServer12"
                  (imageSelected)="selected($event,'portada')"
                  [imageToDataUrl]="options"
                  class="d-none"
                  #inputPortada
                  >
                </div>

                <div class="form-row">
                  <button type="button" class="btn btn-sm btn-info mb-2" (click)="inputGaleria.click()" style="border-radius: 15px;"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Añadir más</button>
                  <div class="form-row">
                    <div class=" card col-4" *ngFor="let item of galeria">
                      <img class="w-100" [src]="item.resized && item.resized.dataURL || item.dataURL">
                    </div>
                  </div>         
                  <input
                  type="file"
                  accept=".jpg,.jpeg,.png,.gif"
                  class="custom-file-input"
                  id="validationServer13"
                  name="validationServer13"
                  multiple
                  (imageSelected)="selected($event,'galeria')"
                  [imageToDataUrl]="options"
                  class="d-none"
                  #inputGaleria
                  >
                </div>
                <div class="form-row">
                  <img class="ml-auto" style="opacity: 35%; width: 35%;" src="../../../../assets/img/administrador/fotos.jpg">
                </div>

              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" [disabled]="formularioProducto.invalid" class="btn btn-agregar" (click)="agregarProducto()">Agregar producto</button>
        </div>
      </div>
    </div>
  </div>
