
<div class="container">
    <div class="row mt-2 mb-3">
        <button type="button" class="btn btn-sm mr-auto btn-volver" (click)="limpiarModal()" data-toggle="modal" data-target="#filtroInventario"><i class="fa fa-reply-all" aria-hidden="true"></i> Volver</button>
        <h4>Reporte de Inventario</h4>
        <button type="button" class="btn btn-sm ml-auto btn-volver"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar PDF</button>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr class="encabezado">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Tipo de base</th>
                        <th scope="col">Especie(s)</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let producto of inventario | filterBy: productosFilterByName" class="product-row">
                        <th scope="row" class="product-id">{{producto.idproducto}}</th>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.categoria}}</td>
                        <td>{{producto.tipodebase}}</td>
                        <td>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-0 pl-1 text-left"  *ngFor="let especie of producto.especie">{{especie}}</li>
                            </ul>
                        </td>
                        <td class="text-center">{{producto.cantidad}}</td>
                        <td>L {{producto.precio}}</td>
                    </tr>
                    <tr [hidden]="inventario.length===0">
                        <td colspan="5" class="text-right" style="color:#0c515c"><b>Cantidad total de productos en inventario: </b></td>
                        <td>{{cantidadTotal}}</td>
                        <td></td>
                    </tr>
                    <tr *ngIf="inventario.length===0">
                        <td colspan="2">
                            No hay resultados
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-filtro-inventario (inventarioFiltrado)="recibeInventario($event)" (nombreProducto)="recibeNombreProducto($event)"></app-filtro-inventario>

