<div>
    <div>
        <h4 class="pt-2 pl-2"> <i class="fas fa-file-invoice icono pr-2"></i> REPORTES</h4>
        <hr>
    </div>
    
    <div class="container">
        <div class="row">
    
            <div class="card ml-1 ">
                <div class=" container texto">
                    Reporte de Ventas
                </div>
                <a> <img src="assets/img/ventas.png" class="card-img-top rounded-circle" [routerLink]="[ '../reporte-ventas']" alt="..."></a>
    
            </div>
    
            <div class="card ml-1 ">
    
                <div class=" container texto">
                    Reporte de Ingresos
                </div>
                <a> <img src="assets/img/ingresos.png" class="card-img-top rounded-circle" alt="..."></a>
    
            </div>
    
    
    
    
        </div>
    
    </div>
    
    <div class="container">
    
        <div class="row">
    
            <div class="card ml-1 ">
    
                <div class=" container texto">
                    Reporte de Usuarios
                </div>
                <a [routerLink]="['./reporte-usuarios']"> <img src="assets/img/usuarios.png" class="card-img-top rounded-circle" alt="..."></a>
    
            </div>
    
            <div class="card ml-1 ">
    
                <div class=" container texto">
                    Reporte de Inventario
                </div>
    
                <a > <img src="assets/img/inventario.png" class="card-img-top rounded-circle" alt="..." [routerLink]="[ '../reporte-inventario']"></a>
    
            </div>
    
    
    
    
        </div>
    
    </div>
</div>

