.icono {
    font-size: 1.5em;
}

.row {
    margin-top: 0%;
    margin-bottom: 0%;
}

.container {
    width: 80%;
    margin: 50px auto;
    margin-top: 0%;
    margin-bottom: 0%;
}

.texto {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15%;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 1em;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    height: 10%;
    border: red 5px none;
}

.card-header {
    text-align: center;
    padding: 50px 10px;
    background: transparent;
    color: black;
    border: red 5px none;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: transparent;
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }
    .heading {
        padding: 20px;
        font-size: 20px;
    }
    .card {
        width: 60%;
    }
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    padding-top: 25px;
}

.anuncio1 {
    background: linear-gradient(to top, #88df8f, #b3ebee);
    border: rgb(122, 243, 213) 5px inset;
}

.letra {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.iconos {
    font-size: 3em;
}

.alineado {
    text-align: center;
}

img:hover {
    cursor: pointer;
}