.order-status-label {
    padding: 5px 10px;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 5px;
}

.order-status-label.completed {
    background-color: rgb(34, 194, 34);
    color: white;
}

.order-status-label.pending {
    background-color: #ffc107;
}

.btn-link {
    color: green;
}

.botones {
    font-size: 1.30vw;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

@media screen and (min-width: 1300px) {
    .botones {
        font-size: 100%;
    }
}

.btn-outline-info:focus,
.btn-outline-info:active {
    outline: none;
    box-shadow: none;
}