<div>
    <div>
        <div class="row">
            <div class="col-12 col-md-8">
                <h4 class="pt-2 pl-2"> <i class="fas fa-shipping-fast mr-2"></i>PEDIDOS</h4>
            </div>
            <div class="col-12 col-md-4">
                <div class="btn-toolbar" role="toolbar" aria-label="">
                    <div class="btn-group" role="group" aria-label="">
                        <button type="button" class="btn btn-outline-info botones" [class.active]="filtro == 'pendiente'" [disabled]="pedidosPendientes === 0" (click)="filtrarPedidos('pendiente')">Pendientes ({{ pedidosPendientes }})</button>
                        <button type="button" class="btn btn-outline-info botones" [class.active]="filtro == 'todos'" [disabled]="!pedidos || pedidos.length === 0" (click)="filtrarPedidos('todos')">Todos ({{ pedidos.length }})</button>
                        <button type="button" class="btn btn-outline-info botones" [class.active]="filtro == 'completado'" [disabled]="pedidosCompletados === 0" (click)="filtrarPedidos('completado')">Completados ({{ pedidosCompletados }})</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div>

        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre de usuario</th>
                        <th scope="col">Fecha de compra</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Total</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let pedido of pedidosFiltrados" class="pedido-row">
                        <th scope="row" class="product-id">{{ pedido.idpedido }}</th>
                        <td>{{ pedido.nombre_usuario }}</td>
                        <td>{{ pedido.fechapedido | date:'d/MM/y' }}</td>
                        <!-- <td><button class="btn btn-link">Ver más</button></td> -->
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="detalleModal.setPedido(pedido.idpedido)">
                                Ver más...
                              </button>
                        </td>
                        <td class="text-center">L {{ pedido.total | number }}</td>
                        <td><button role="button" [disabled]="pedido.estado === 'completado'" class="btn order-status-label" [class.pending]="pedido.estado === 'pendiente'" [class.completed]="pedido.estado === 'completado'" (click)="cambiarEstadoPedido(pedido.idpedido)"
                                [title]="pedido.estado === 'pendiente' ? 'Marcar como completado' : 'Pedido completado'">
                                <span *ngIf="pedido.estado === 'completado'"><i class="fas fa-check" [class.d-inline-block]="pedido.estado === 'completado'? true : false"></i></span>
                                <span *ngIf="pedido.estado === 'pendiente'"><i class="fas fa-hourglass-half" [class.d-inline-block]="pedido.estado === 'pendiente'? true : false"></i></span>
                                {{ pedido.estado }}</button></td>
                    </tr>
                    <tr *ngIf="(!pedidos || pedidos.length === 0)">
                        <td colspan="6" class="text-danger text-center">
                            No hay pedidos
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-detalle-pedido #detalleModal></app-detalle-pedido>