body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-image: url("../../../assets/img/fondo-perfil.jpg");
}

.file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.file {
    position: relative;
    overflow: hidden;
    margin-top: 1%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    color: black;
    background: rgba(75, 192, 91, 0.5);
}

.icono-user {
    font-size: 130%;
    padding-right: 15px;
    padding-top: 5px;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.5rem;
}

.gutters-sm {
    margin-right: -7px;
    margin-left: -7px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 1px;
    padding-left: 1px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100%!important;
}

.shadow-none {
    box-shadow: none!important;
}

.titulo {
    font-size: 150%;
    padding-left: 15px;
    font-weight: bold;
    background: -webkit-linear-gradient(#55a377, #a4b357);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
}

.active {
    font-size: 120%;
}

.btn:hover {
    background-color: #52a877;
}

.btn-editar:hover {
    background-color: #9cd6d7 !important;
    color: #274f52 !important;
}

.btn-editar:focus {
    outline: none;
    box-shadow: none;
}

.btn-editar:active {
    background-color: #9cd6d7 !important;
    color: #274f52 !important;
}