<app-encabezado></app-encabezado>

<body>
    <div class="container">
        <div class="main-body">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb" style="background-color: transparent;">
                    <i class="fas fa-user icono-user"></i>
                    <li class="breadcrumb-item active" aria-current="page">{{nombreUsuario}}</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card" style="background-color: transparent;">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img [src]="imagen || 'assets/img/usuario.png'" alt="" style="width: 150px; height: 150px;">
                                <div class="file btn btn-lg btn-primary">
                                    Cambiar Foto
                                    <input type="file" name="file" />
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="titulo">
                            Datos Personales
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <h6 class="mb-0 pl-4">Nombre Usuario:</h6>
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    {{nombreUsuario}}
                                </div>
                                <div class="col-sm-4 text-secondary">

                                    <button type="button" class="btn btn-outline-success">Editar</button>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <h6 class="mb-0 pl-4">Contraseña:</h6>
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    *************
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    <button type="button" class="btn btn-outline-success">Editar</button>
                                </div>
                            </div>

                        </div>
                        <div class="titulo">
                            Información de Contacto
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <h6 class="mb-0 pl-4">Correo Electrónico:</h6>
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    {{correo}}
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    <button type="button" class="btn btn-outline-success">Editar</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <h6 class="mb-0 pl-4">Número de Télefono:</h6>
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    {{telefono}}
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    <button type="button" class="btn btn-outline-success">Editar</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <h6 class="mb-0 pl-4">Dirección:</h6>
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    {{direccion}}
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    <button type="button" class="btn btn-outline-success">Editar</button>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>