.image-promo {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25%;
    padding-top: 5%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 350px;
}

h1 {
    color: transparent;
    background: url(/assets/img/1C.png) repeat;
    -webkit-background-clip: text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: bold;
    text-align: left;
    letter-spacing: -2px;
    line-height: 90px;
}

.card-header {
    background-color: white !important;
}

.imagenes {
    width: 100%;
    height: 250px;
    object-fit: scale-down;
}

#circulo {
    width: 50%;
    height: 50px;
    background-color: rgba(75, 219, 207);
    border-radius: 80px;
    margin: 0px auto;
    margin-bottom: 3%;
}

#divPadre {
    text-align: center;
}

h3 {
    color: rgb(179, 247, 230);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;
    padding-top: 2%;
}

.icono {
    font-size: 2em;
    text-align: center;
}

.btn {
    width: 100%;
}


/* Estilos botón carrito */

.shop-icon-bg {
    font-size: 1.5rem;
    cursor: pointer;
}

.shop-icon-bg:hover {
    background-color: rgb(41, 151, 118);
    border-radius: 0.25rem;
}

.shop-icon-bg:hover i {
    color: white;
}

.shop-icon-wrapper {
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
}


/* Estilos toast de agregado al carrito */

.added-toast,
.alert-toast {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 100;
    font-size: 1rem;
}

.added-toast .toast-header {
    color: white;
    background-color: rgb(41, 151, 118);
}

.alert-toast .toast-header {
    color: white;
    background-color: rgb(215, 50, 50);
}

#cards-productos:hover {
    background-color: rgba(231, 178, 209, 0.3);
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}