<app-encabezado></app-encabezado>

<app-carrusel-promo></app-carrusel-promo>

<div class="container">

    <div class="row">
        <div class="card">
            <div class="card-header">
                <img src="assets/img/Cat1.jpg" class="card-img-top " alt="...">
                <h2> Nombre Producto</h2>
            </div>
            <div class="card-body">
                <p>
                    Precio Anterior:
                </p>
                <p>
                    Precio Actual:
                </p>
                <a href="#" class="btn">Comprar Ahora</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/img/Cat1.jpg" class="card-img-top " alt="...">
                <h2> Nombre Producto</h2>
            </div>
            <div class="card-body">
                <p>
                    Precio Anterior:
                </p>
                <p>
                    Precio Actual:
                </p>
                <a href="#" class="btn">Comprar Ahora</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/img/Cat1.jpg" class="card-img-top " alt="...">
                <h2> Nombre Producto</h2>
            </div>
            <div class="card-body">
                <p>
                    Precio Anterior:
                </p>
                <p>
                    Precio Actual:
                </p>
                <a href="#" class="btn">Comprar Ahora</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/img/Cat1.jpg" class="card-img-top " alt="...">
                <h2> Nombre Producto</h2>
            </div>
            <div class="card-body">
                <p>
                    Precio Anterior:
                </p>
                <p>
                    Precio Actual:
                </p>
                <a href="#" class="btn">Comprar Ahora</a>
            </div>
        </div>
    </div>
</div>