<!-- <app-encabezado></app-encabezado> -->
<div class="position-relative">
    <div class="toast d-block added-toast animated fade-in" #toast>
        <div class="toast-header">
            <strong class="mr-auto">Producto agregado!</strong>
        </div>
        <div class="toast-body">
            Agregó {{ (productoAgregado || productoAgregado.nombre) ? productoAgregado.nombre : 'El producto ' }} a su carrito de compras
        </div>
    </div>
</div>

<div class="position-relative">
    <div class="toast d-block alert-toast animated fade-in" #alertToast>
        <div class="toast-header">
            <strong class="mr-auto">Producto agregado!</strong>
        </div>
        <div class="toast-body">
            {{ (productoAgregado || productoAgregado.nombre) ? productoAgregado.nombre : 'El producto ' }} ya se encuentra en su carrito de compras
        </div>
    </div>
</div>

<app-carrusel-promo></app-carrusel-promo>


<div class="container animated fadeIn">
    <h1>PROMOCIONES</h1>
</div>

<div class=" container animated fadeIn">
    <div class="col-lg-4 col-sm-12">
        <div class="input-group flex-nowrap " style="margin-top: 5px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Buscar Promoción" aria-label="Username" aria-describedby="addon-wrapping" [(ngModel)]="filtroPromo" name="filtroPromo">
        </div>
    </div>

</div>



<div class="container mt-3 ">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-12 animated fadeIn" *ngFor="let promocion of promociones | filtroPromocion : filtroPromo">
            <div class="card mb-5 mt-1 mr-3 ml-3">
                <div class="card-header p-0 ">
                    <div class="img-animtion imagenes">
                        <img src="{{url+'get-image/'+promocion.urlportada}}" alt="" class="card-img-top imagenes">

                    </div>
                </div>
                <div class="card-body text-center" id="divPadre">
                    <div id="circulo" class="card-title">
                        <h3>{{promocion.porcentajedescuento}}%</h3>
                    </div>
                    <h5 class="card-title">
                        {{promocion.nombre}}
                    </h5>
                    <p class="card-text" style="font-size: 1.3em;">
                        <span> Precio</span> <span>  L. </span> <span><s>{{promocion.precio}}</s></span>
                    </p>
                    <p class="card-text " style="font-size: 2em; color: rgb(0, 145, 77);">
                        <span>  L. </span> <span>{{promocion.preciocondescuento}}</span>
                    </p>
                    <div class=" container">
                        <div class="row">
                            <div class=" col-8">
                                <button type="button" class="btn btn-outline-success">Comprar Ahora</button>
                            </div>
                            <div class=" col-4">
                                <div class="position-relative h-100 shop-icon-bg" title="Agregar al carrito" (click)="agregarCarrito(promocion.idproducto, 1)">
                                    <div class="position-absolute shop-icon-wrapper">
                                        <i class="fas fa-cart-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-piepagina></app-piepagina>