<div class="titulo container">
    <h1 id="cactus">Historial de Compras</h1>
</div>


<body>
    <div>

        <div>


            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead class="encabezado-tabla">
                        <tr>

                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Fecha de Compra</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pedido of pedidos">

                            <td>{{ pedido.nombre }}</td>
                            <td>{{ pedido.precio_unitario }}</td>
                            <td>{{ pedido.cantidad }}</td>
                            <td>{{ pedido.fecha | date:'d/MM/y' }}</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>