h1 {
    color: transparent;
    background: url(/assets/img/1C.png) repeat;
    -webkit-background-clip: text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;
    text-align: left;
    letter-spacing: -2px;
    line-height: 90px;
}

.titulo {
    text-align: left;
    padding-left: 10%;
}

.table {
    width: 80%;
    margin-left: 8%;
}