<div class="titulo container">
    <h1 id="cactus">Historial de Compras</h1>
</div>



<div>

    <div>


        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Id Pedido</th>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Teléfono</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedido of pedidos">
                        <td>{{ pedido.idpedido }}</td>
                        <td>{{ pedido.nombre }}</td>
                        <td>{{ pedido.precio_unitario }}</td>
                        <td>{{ pedido.cantidad }}</td>
                        <td>{{ pedido.fecha | date:'d/MM/y' }}</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>