<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #50a1a5!important;">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/logo_vector.png" width="40" height="40" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse">
        <p>Catus HN</p>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Promociones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Iniciar Sesión</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['registro']">Registrarse</a>
            </li>


        </ul>

        <div style="padding-right: 5px;">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="&#x002; Buscar Producto" aria-label="Search">
            </form>
        </div>
        <i class="fas fa-shopping-cart" style="padding-right: 40px; size:45px; color:white"></i>
        <div class="dropdown" *ngIf="true" style="padding-right: 35px;">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
            Usuario
          </button >
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                <a class="dropdown-item" href="#">Mi Perfil</a>
                <a class="dropdown-item" href="#">Historial de Compras</a>
                <a class="dropdown-item" href="#">Cerrar Sesión</a>
            </div>
        </div>

       



    </div>
</nav>