.navbar-nav .nav-link {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 15px;
}

#usuario {
    background-color: #50a1a5;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
}

.navbar-nav .nav-link {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 15px;
}

#titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

#usuario {
    background-color: #50a1a5;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
    margin-left: 7px;
    margin-top: 5px;
}

#carro_compra {
    margin-left: 15px;
    margin-top: 12px;
    margin-bottom: 10px;
    size: 10px;
    color: white;
}

.dropdown-item:hover {
    background-color: rgba(75, 192, 91, 0.5);
}

.fa-shopping-cart:hover{
    cursor: pointer;
}