.container {
    width: 80%;
    margin: 50px auto;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 20%;
    background: #fff;
    margin-bottom: 50px;
    border: none;
    transition: 0.3s;
    height: 20%;
    padding-left: 25px;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #87ce91, #008513);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover {}

@media screen and (max-width: 1000px) {
    .card {
        width: 30%;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }
    .heading {
        padding: 20px;
        font-size: 20px;
    }
    .card {
        width: 40%;
    }
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #b7aecd;
}

a:hover {
    color: #50a1a5;
}