h1 {
    color: transparent;
    background: url(/assets/img/1C.png) repeat;
    -webkit-background-clip: text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: bold;
    text-align: left;
    letter-spacing: -2px;
    line-height: 90px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    height: 20%;
}

.card-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, #50a1a5, #00b319);
    color: #fff;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #87ce91, #008513);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }
    .heading {
        padding: 20px;
        font-size: 20px;
    }
    .card {
        width: 60%;
    }
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    padding-top: 25px;
}

.anuncio1 {
    background: linear-gradient(to top, #88df8f, #b3ebee);
    border: rgb(122, 243, 213) 5px inset;
}

.letra {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.iconos {
    font-size: 3em;
}

.alineado {
    text-align: center;
}