<nav class="navbar navbar-expand-xl navbar-dark bg-dark" id="nav-admin">
    <a class="navbar-brand" [routerLink]="['/inicio']">
        <img src="/assets/img/logo_vector.png" width="40" height="40" alt="" loading="lazy">
    </a>
    <a class="navbar-brand" [routerLink]="['/inicio']" id="titulo">Cactus HN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav mr-auto">


        </ul>
        <form class="form-inline my-2 my-md-0">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="width: 200px; ">
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                </li>

                <li class="nav-item">
                    <i class="fas fa-bell" id="campana"></i>
                </li>
                <li>
                    <button type="button" class="btn btn-outline-success" (click)="authService.logoutUser()">Cerrar Sesión</button>
                </li>
            </ul>
        </form>
    </div>
</nav>