<div *ngIf="idProducto" #modalClase class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="container">
                    <form [formGroup]="formularioModificarProducto" class="form" enctype="multipart/form-data" validate>
                        <div class="form-row">

                            <div class="col-12 col-md-4">

                                <div class="form-group row">
                                    <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
                                    <div class="col-sm-9">
                                        <input type="text" [class.is-invalid]="nombreProducto.invalid && nombreProducto.touched" formControlName="nombre" name="nombre" id="nombre" class="form-control" placeholder="Nombre del producto" required>
                                        <div class="invalid-feedback">
                                            Este campo es obligatorio
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label for="idCategoria" class="col-sm-3 col-form-label">Categoría</label>
                                    <div class="col-sm-9">
                                        <select formControlName="idCategoria" name="idCategoria" id="idCategoria" class="form-control" [class.is-invalid]="idCategoria.invalid && idCategoria.touched" required>
                                          <option *ngFor="let cat of categorias" value="{{ cat.idcategoria }}">{{ cat.descripcion }}</option>                                          
                                        </select>
                                        <div class="invalid-feedback">
                                            Este campo es obligatorio
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="idTipoBase" class="col-sm-3 col-form-label">Base</label>
                                    <div class="col-sm-9">
                                        <select formControlName="idTipoBase" name="idTipoBase" id="tipoBase" [class.is-invalid]="idTipoBase.invalid && idTipoBase.touched" class="form-control" required>
                                            <option *ngFor="let base of tiposBases" value="{{ base.idtipobase }}">{{ base.descripcion }}</option>
                                          <!-- <option value="2">Barro</option>
                                          <option value="3">Cristal</option> -->
                                        </select>
                                        <div class="invalid-feedback">
                                            Este campo es obligatorio
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="especies" class="col-sm-3 col-form-label">Especie(s)</label>
                                    <div class="col-sm-9">
                                        <select formControlName="especiesProducto" name="especiesProducto[]" id="especies" multiple [class.is-invalid]="especies.invalid && especies.touched" class="form-control" required>
                                            <option *ngFor="let especie of listaEspecies" value="{{ especie.idespecie }}">{{ especie.descripcion_especie }}</option>
                                          <!-- <option value="2">Especie 2</option>
                                          <option value="3">Especie 3</option> -->
                                        </select>
                                        <div class="invalid-feedback">
                                            Este campo es obligatorio
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="cantidad" class="col-sm-3 col-form-label">Cantidad</label>
                                    <div class="col-sm-3">
                                        <input type="number" formControlName="cantidad" name="cantidad" id="cantidad" min="1" step="1" [class.is-invalid]="cantidad.invalid && cantidad.touched" class="form-control" required>
                                        <div class="invalid-feedback">
                                            Este campo es obligatorio
                                        </div>
                                    </div>

                                    <label for="precio" class="col-sm-2 col-form-label">Precio</label>
                                    <div class="col-sm-4">
                                        <input type="number" formControlName="precio" name="precio" id="precio" [class.is-invalid]="precio.invalid && precio.touched" step="1.00" min="1" class="form-control" required>
                                        <div class="invalid-feedback">
                                            Este campo es obligatorio
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="tiempoSol" class="col-sm-3 col-form-label">Tiempo de sol</label>
                                    <div class="col-sm-9">
                                        <input type="text" [class.is-invalid]="tiempoSol.invalid && tiempoSol.touched" formControlName="tiempoSol" name="tiempoSol" id="tiempoSol" class="form-control" placeholder="Tiempo de sol" required>
                                        <div class="invalid-feedback">
                                            Este campo es obligatorio
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="frecuenciaRiego" class="col-sm-3 col-form-label">Frecuencia de riego</label>
                                    <div class="col-sm-9">
                                        <input type="text" [class.is-invalid]="frecuenciaRiego.invalid && frecuenciaRiego.touched" formControlName="frecuenciaRiego" name="frecuenciaRiego" id="frecuenciaRiego" class="form-control" placeholder="Frecuencia de riego" required>
                                        <div class="invalid-feedback">
                                            Este campo es obligatorio
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="tamanio" class="col-sm-3 col-form-label">Tamaño</label>
                                    <div class="col-sm-9">
                                        <input type="text" [class.is-invalid]="tamanio.invalid && tamanio.touched" formControlName="tamanio" name="tamanio" id="tamanio" class="form-control" placeholder="Nombre del producto" required>
                                        <div class="invalid-feedback">
                                            Este campo es obligatorio
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="informacionAdicional" class="col-sm-3 col-form-label">Descripción</label>
                                    <textarea formControlName="informacionAdicional" id="informacionAdicional" name="informacionAdicional" [class.is-invalid]="informacionAdicional.invalid && informacionAdicional.touched" class="form-control" placeholder="Descripción del producto" cols="30"
                                        rows="5" required></textarea>
                                    <div class="invalid-feedback">
                                        Este campo es obligatorio
                                    </div>
                                </div>

                            </div>

                            <div class="col-12 col-md-4">

                                <div class="form-group px-1">
                                    <div class="position-relative portada-producto">
                                        <span>Imagen de Portada</span>
                                        <hr class="my-1">
                                        <button type="button" class="btn btn-warning position-absolute" style="font-size:1vw;padding: 3px 5px;z-index: 100; top: 0; right: 0;" (click)="inputFotoPortada.click()">
                                          <i class="fas fa-sync"></i> Cambiar imagen
                                        </button>
                                        <img [src]=" imgPortada || '../../../assets/img/tarjeta1.jpg'" class="img-thumbnail mb-2 imagen-producto">
                                        <input class="d-none" type="file" #inputFotoPortada accept=".jpg,.jpeg,.png" name="portada" id="fotoPortadaProducto" (change)="previewPortada($event.target)">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">

                                <div class="form-group px-1">
                                    <div class="form-row">

                                        <div class="col-12">
                                            <div class="position-relative">
                                                Imágenes del Producto
                                                <hr class="my-1">
                                                <button type="button" class="btn btn-warning position-absolute" [disabled]="cantImgs === 3" style="font-size:1vw;padding: 3px 5px;z-index: 100; top: 0; right: 0;" (click)="inputFotosProducto.click()">
                                                  <i class="fas fa-plus"></i> Agregar imagen
                                                </button>
                                                <input class="d-none" type="file" multiple accept="image/*" name="inputFotosProducto" #inputFotosProducto id="inputFotosProducto" maxlength="3" (change)="previewProductImages($event.target)">
                                            </div>
                                        </div>

                                        <div *ngFor="let img of imagenes" class="col-12 col-md-6 mb-2">
                                            <app-foto-mod-producto *ngIf="img" [imagen]="img" (delete)="deleteImageByName($event)"></app-foto-mod-producto>
                                        </div>

                                        <div *ngFor="let img of imgsActuales" class="col-12 col-md-6 mb-2">
                                            <app-foto-mod-producto *ngIf="img" [imagen]="img" (delete)="deleteImageByName($event)"></app-foto-mod-producto>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="mostrarValores()">Guardar Cambios</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" #closeModal (click)="resetForm()">Cancelar</button>
            </div>
        </div>
    </div>
</div>