.fondo-inicio {
    background-image: url("../../../assets/img/3108.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo-formulario {
    background-color: rgba(52, 58, 64, 0.8);
     /*#343a40;*/
}

.icono-formulario {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10vmax;
    padding: 0px;
    margin: 0px;
}




