<div class="position-relative">
    <div class="toast d-block added-toast animated fade-in" #toast>
        <div class="toast-header">
            <strong class="mr-auto">Producto agregado!</strong>
        </div>
        <div class="toast-body">
            Agregó {{ (producto || producto.nombre) ? producto.nombre : 'El producto ' }} a su carrito de compras
        </div>
    </div>
</div>

<div class="position-relative">
    <div class="toast d-block alert-toast animated fade-in" #alertToast>
        <div class="toast-header">
            <strong class="mr-auto">Producto agregado!</strong>
        </div>
        <div class="toast-body">
            {{ producto.nombre || 'El producto ' }} ya se encuentra en su carrito de compras
        </div>
    </div>
</div>



<div class=" mt-4">

    <div class=" container">
        <div class="row">
            <div class=" col-4">
                <div class=" container-fluid botonV">

                    <a class='btn btn-default volver' (click)='onBack()' id="btn-volver"> <i class="fas fa-arrow-circle-left"></i></a>

                </div>
            </div>
            <div class=" col-8">
                <h1>Detalle Producto</h1>
            </div>

        </div>

        <hr>
    </div>

    <div class=" container" *ngIf="!cargando">
        <div class=" row">
            <div class=" col-lg-5 col-sm-12 galeria">
                <div class=" container margen fondo">
                    <div class="img-animtion imagenes p-0 tz-gallery " id="portada">


                        <a class="lightbox" href="{{url+'get-image/'+producto.urlportada}}">
                            <img id="portada" src="{{url+'get-image/'+producto.urlportada}}" class="card-img-top imagenes">
                        </a>

                    </div>

                </div>


                <div id="carouselExampleIndicators" *ngIf="producto.galeria[0]!==null" class="carousel slide  fondo" data-interval="false" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item " *ngFor="let  galeria of producto.galeria; let i=index" [class.active]="i===1">
                            <div class="row ">
                                <div class=" col-12 contenedor  ">
                                    <div class="tz-gallery">
                                        <a class="lightbox" href="{{url+'get-image/'+galeria}}">
                                            <img src="{{url+'get-image/'+galeria}}" class="d-blockcard-img-top imagenes2 imagen">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <a class="carousel-control-prev diseño-slide" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" style="font-size: 300px;" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next diseño-slide" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>

            <div class="col-2"></div>


            <div class=" col-lg-5 col-sm-12  caracteristicas ">
                <form [formGroup]="formularioCaracteristicas" class="form " enctype="multipart/form-data" validate>
                    <div class=" container mt-4">
                        <div class="row">
                            <div class="col-4 pl-4">
                                <strong> <p>Nombre:</p></strong>
                            </div>
                            <div class="col-8">
                                <p class="letra">{{producto.nombre}}</p>
                            </div>
                        </div>
                    </div>

                    <div class=" container mt-4">
                        <div class="row">
                            <div class="col-4 pl-4">
                                <strong> <p>Cantidad:</p></strong>
                            </div>
                            <div class=" col-4">
                                <div class="form-group row">


                                    <input type="number" [class.is-invalid]="cantidad.invalid && cantidad.touched" formControlName="cantidad" name="cantidad" id="cantidad" class="form-control" placeholder="1 - {{producto.cantidad}}" min="1" max="{{producto.cantidad}}" step="1" required>
                                    <div class="invalid-feedback" *ngIf="cantidad.errors?.required">
                                        Este campo es obligatorio
                                    </div>
                                    <div class="invalid-feedback" *ngIf="cantidad.errors?.min">
                                        El valor mínimo es 1
                                    </div>
                                    <div class="invalid-feedback" *ngIf="cantidad.errors?.max">
                                        El valor máximo es <span>{{producto.cantidad}}</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class=" container mt-4">
                        <div class="row">
                            <div class="col-4 pl-4">
                                <strong><p>Precio:</p></strong>
                            </div>
                            <div class="col-1">
                                <span class="letra">L</span>
                            </div>
                            <div class="col-2">
                                <span class="letra">{{producto.precio}}</span>
                            </div>
                            <div class="col-5 pl-4">
                                <button type="button" id="btn-compra" class="btn btn-outline-success btn-compra ">Comprar Ahora</button>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6 pr-4">
                                <button type="button" class="btn btn-success float-right shop-cart-btn" (click)="agregarCarrito()"><span>Agregar al carrito &nbsp;</span><i class="fas fa-cart-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class=" container">
                        <strong><p>Descripción:</p></strong>
                    </div>
                    <br>
                    <div class="container pl-4">
                        <div class=" row">
                            <div class=col-4>
                                <strong><p class="color-text">Categoría: </p></strong>
                            </div>
                            <div class="col-8">
                                <p>{{producto.categoria}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class=col-4>
                                <strong><p  class="color-text">Tipo de Base: </p></strong>
                            </div>
                            <div class="col-8">
                                <p>{{producto.tipobase}}</p>
                            </div>
                        </div>


                        <div class="row" *ngIf="producto.tiemposol!==''">
                            <div class=col-4>
                                <strong><p  class="color-text">Tiempo de Sol:</p></strong>
                            </div>
                            <div class="col-8">
                                <p>{{producto.tiemposol}}</p>
                            </div>
                        </div>

                        <div class="row" *ngIf="producto.tiemposol===''">
                            <div class=col-4>
                                <strong><p  class="color-text">Tiempo de Sol:</p></strong>
                            </div>
                            <div class="col-8">
                                <p>-----------------</p>
                            </div>
                        </div>


                        <div class="row" *ngIf="producto.frecuenciariego!==''">
                            <div class=col-4>
                                <strong><p  class="color-text">Frecuencia de Riego:</p></strong>
                            </div>
                            <div class="col-8">
                                <p>{{producto.frecuenciariego}}</p>
                            </div>
                        </div>

                        <div class="row" *ngIf="producto.frecuenciariego===''">
                            <div class=col-4>
                                <strong><p  class="color-text">Frecuencia de Riego:</p></strong>
                            </div>
                            <div class="col-8">
                                <p>-----------------</p>
                            </div>
                        </div>

                    </div>
                </form>
            </div>


        </div>


    </div>


</div>