<div class=" mt-4">

    <div class=" container">
        <h2>Detalle Producto</h2>
        <hr>
    </div>

    <div class=" container">
        <div class=" row">
            <div class=" col-lg-5 col-sm-10  galeria">
                <div class="img-animtion imagenes p-0  ">
                    <img src="assets/img/productos/5.jpg" alt="" class="card-img-top imagenes ">
                </div>


                <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class=" col-6 ">
                                    <img src="assets/img/productos/neon.jpg" alt="" class=" d-blockcard-img-top imagenes2">
                                </div>

                                <div class=" col-6 ">
                                    <img src="assets/img/productos/13.jpg" alt="" class="card-img-top imagenes2">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-6 ">
                                    <img src="assets/img/productos/11.jpg" alt="" class=" d-blockcard-img-top imagenes2">
                                </div>

                                <div class=" col-6 ">
                                    <img src="assets/img/productos/6.jpg" alt="" class="card-img-top imagenes2">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-6 ">
                                    <img src="assets/img/productos/lola.jpg" alt="" class=" d-blockcard-img-top imagenes2">
                                </div>

                                <div class=" col-6 ">
                                    <img src="assets/img/productos/4.jpg" alt="" class="card-img-top imagenes2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev diseño-slide" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" style="font-size: 300px;" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next diseño-slide" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>


            <div class=" col-2 ">

            </div>

            <div class=" col-lg-5 col-sm-10 caracteristicas">
                <div class=" container mt-4">
                    <div class="row">
                        <div class="col-4 pl-4">
                            <strong> <p>Nombre:</p></strong>
                        </div>
                        <div class="col-8">
                            <p>Terrario Grande</p>
                        </div>
                    </div>
                </div>

                <div class=" container mt-4">
                    <div class="row">
                        <div class="col-4 pl-4">
                            <strong> <p>Cantidad:</p></strong>
                        </div>
                        <div class="col-8">
                            <input type="number" id="tentacles" name="tentacles" min="10" max="100">
                        </div>
                    </div>
                </div>

                <div class=" container mt-4">
                    <div class="row">
                        <div class="col-4 pl-4">
                            <strong><p>Precio:</p></strong>
                        </div>
                        <div class="col-1">
                            <span>L</span>
                        </div>
                        <div class="col-2">
                            <span>200</span>
                        </div>
                        <div class="col-5 pl-4">
                            <button type="button" class="btn btn-outline-success">Comprar Ahora</button>
                        </div>
                    </div>
                </div>

                <br>
                <div class=" container">
                    <strong><p>Descripción:</p></strong>
                </div>
                <br>
                <div class="container">
                    <table>

                        <tbody>
                            <tr>
                                <strong> <td>Categoría: </td></strong>
                                <td>Cactus y Suculentas </td>
                            </tr>
                            <tr>
                                <strong> <td>Tipo de Base:</td></strong>
                                <td>Vidrio </td>
                            </tr>
                            <tr>
                                <strong><td>Tiempo de Sol:</td></strong>
                                <td>Medio </td>
                            </tr>
                            <tr>
                                <strong><td>Frecuencia de Riego:</td></strong>
                                <td>1 vez por semana </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>


</div>