<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 foot" style="background: linear-gradient(to left, #72d4da, #91fc9a);;">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <div class="col-md-4 py-5 iconos">
                <div class="mb-2 flex-center ">
                    <p>Contactanos</p>
                    <!-- Facebook -->
                    <a class="fb-ic">

                        <i class="fas fa-phone fa-lg white-text mr-md-4 mr-2 fa-2x"></i> <span>22227-6789</span>
                    </a>

                    <!--Instagram-->
                    <a class="pin-ic">
                        <i class="fab fa-whatsapp fa-lg white-text mr-md-4 mr-2 ml-4 fa-2x"> </i> <span>9078-5560</span>

                    </a>

                </div>
            </div>


            <div class="col-md-4 py-5 iconos">
                <div class="mb-2 flex-center ">
                    <img width="80" height="75" src="assets/img/logo_vector.png" alt="">

                </div>
            </div>

            <!-- Grid column -->
            <div class="col-md-4 py-5 iconos">
                <div class="mb-2 flex-center ">
                    <div>
                        <p>Redes Sociales</p>
                    </div>

                    <!-- Facebook -->
                    <a href="https://www.facebook.com/CactusHNTeg" class="fb-ic" style="color:black !important ;">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x facebook1"> </i>
                    </a>

                    <!--Instagram-->
                    <a href="http://www.instagram.com/cactus_hn" class="ins-ic" style="color:black !important ;">
                        <i class="fab fa-instagram fa-lg white-text mr-md-0 mr-3  fa-2x facebook1"> </i>
                    </a>
                    <!--Pinterest-->

                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>

</footer>
<!-- Footer -->