<div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUserModalLabel"><i class="fas fa-1x" [class]='iconoModal'></i> Modificar {{ tituloModal }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container" [ngSwitch]="campo">

                    <form [formGroup]="formModNombre" class="form" *ngSwitchCase="'nombre'" validate>
                        <div class="form-group row">
                            <label for="nombreUsuario" class="col-sm-5 col-form-label">Nombre de usuario</label>
                            <div class="col-sm-7">
                                <input type="text" [class.is-invalid]="nomUsuario.invalid && nomUsuario.touched" formControlName="nombre" name="nombre" class="form-control" id="nombreUsuario" placeholder="Nombre del producto" required>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio
                                </div>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="formModContrasena" class="form" *ngSwitchCase="'contrasena'" validate>
                        <div class="form-group row">
                            <label for="contrasena" class="col-sm-5 col-form-label">Contraseña actual</label>
                            <div class="col-sm-7">
                                <input type="password" [class.is-invalid]="contrasena.invalid && contrasena.touched" formControlName="contraseniaAnterior" name="contraseniaAnterior" class="form-control" id="contrasena" placeholder="Contraseña actual" required>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio
                                </div>
                                <div class="invalid-feedback" [class.d-block]="invalidPassword">
                                    Ingrese su contraseña actual!
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="nuevaContrasena" class="col-sm-5 col-form-label">Contraseña nueva</label>
                            <div class="col-sm-7">
                                <input type="password" [class.is-invalid]="nuevaContrasena.invalid && nuevaContrasena.touched" formControlName="contraseniaNueva" name="contraseniaNueva" class="form-control" id="nuevaContrasena" placeholder="Nueva contraseña" required>
                                <div class="invalid-tooltip">
                                    <small> Debe tener al menos:</small> <br>
                                    <small><i class="fa fa-circle" aria-hidden="true"></i> Una mayúscula</small><br>
                                    <small><i class="fa fa-circle" aria-hidden="true"></i> Una minúscula</small><br>
                                    <small><i class="fa fa-circle" aria-hidden="true"></i> Un numero 0-9</small><br>
                                    <small><i class="fa fa-circle" aria-hidden="true"></i> Un caracter especial</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="confirmarContrasena" class="col-sm-5 col-form-label">Confirmar contraseña</label>
                            <div class="col-sm-7">
                                <input type="password" [class.is-invalid]="confirmContrasena.invalid && confirmContrasena.touched" formControlName="confirmContrasena" name="confirmContrasena" class="form-control" id="confirmarContrasena" placeholder="Confirmar contraseña" required>
                                <div class="invalid-feedback">
                                    Las contraseñas no coinciden
                                </div>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="formModTel" class="form" *ngSwitchCase="'telefono'" validate>
                        <div class="form-group row">
                            <label for="telefono" class="col-sm-3 col-form-label">Teléfono</label>
                            <div class="col-sm-9">
                                <input type="text" [class.is-invalid]="telefono.invalid && telefono.touched" formControlName="telefono" name="telefono" class="form-control" id="telefono" placeholder="Número de teléfono" required>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio
                                </div>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="formModDireccion" class="form" *ngSwitchCase="'direccion'" validate>
                        <div class="form-group row">
                            <label for="direccion" class="col-sm-3 col-form-label">Dirección</label>
                            <div class="col-sm-9">
                                <textarea [class.is-invalid]="direccion.invalid && direccion.touched" formControlName="direccion" name="direccion" class="form-control" id="direccion" placeholder="Dirección" rows="4" required></textarea>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="modal-footer">
                <div class="mx-auto">
                    <button type="button" class="btn btn-primary mr-4" (click)="updateUserInfo()">Guardar Cambios</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetForm()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>